@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tus estilos personalizados del HTML original */
html {
  /* Esto reserva el espacio del scrollbar siempre para evitar saltos */
  overflow-y: scroll;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.text-glow {
  text-shadow: 0 0 10px rgba(0, 212, 255, 0.4);
}